﻿@model Fujin.WApp.Models.ErrorViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Error | FUJIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Fujin home automation web application" name="description" />
    <meta content="ushi" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/images/FujinAdmin.png")" />

    <!-- Bootstrap Css -->
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="@Url.Content("~/assets/css/icons.min.css")" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="@Url.Content("~/assets/css/app.min.css")" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Custom Css-->
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="account-pages my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium h1-error-title" style="font-size: 4.5rem;">
                            ERR<i class="bx bx-buoy bx-spin text-primary display-3" style="font-size: 3.8rem;"></i>R
                        </h1>
                        <h4 class="text-uppercase">@Model.Title</h4>
                        <p>
                            @Model.Message
                        </p>
                        <div class="mt-5 text-center">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary waves-effect waves-light">Back to Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="@Url.Content("~/assets/images/error-img.png")" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="@Url.Content("~/assets/libs/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/metismenu/metisMenu.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/simplebar/simplebar.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/node-waves/waves.min.js")"></script>

    <script src="@Url.Content("~/assets/js/app.js")"></script>

</body>

</html>
