﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    margin-left: 250px;
    left: 0 !important;
}

.btn-content-valign-middle {
    vertical-align: middle;
}

/* Modal Customization */
.modal-content {
    border: none !important;
}

.modal-header {
    background-color: #e83e8c;
}

.modal-title {
    color: #fff;
}

.close {
    color: #fff !important;
    opacity: .8 !important;
}

/* Validation Customization*/
.validation-text {
    font-size: 80%;
}

/* Error Page customization */
.h1-error-title {
    color: #ff5d68;
}

/* List buttons display flex */
.btn-display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

/* List button colors */
.bx-edit {
    color: #f4a006;
    cursor: pointer;
}
.bx-key {
    color: #556ee6;
    cursor: pointer;
}
.bx-trash {
    color: #e32727;
    cursor: pointer;
}