﻿@model Fujin.WApp.Models.User.EditUserModel

@{
    Layout = null;
}

<script src="@Url.Content("~/js/form-advance-init.js")"></script>
<script src="@Url.Content("~/js/validation-init.js")"></script>

<div id="modal-popup" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog model-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    <i class="bx bx-edit btn-content-valign-middle" style="color: #fff; cursor: default;"></i>
                    <span class="btn-content-valign-middle">Edit User (ID: @Model.UserID)</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form asp-controller="User" asp-action="EditUserAction" asp-route-userID="@Model.UserID" class="form-horizontal needs-validation">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-7">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" maxlength="32" required placeholder="Enter username" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" maxlength="64" required placeholder="Enter your first name" />
                                    <span asp-validation-for="FirstName" class="text-danger validation-text"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" maxlength="64" placeholder="Enter your last name" />
                                    <span asp-validation-for="LastName" class="text-danger validation-text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" type="email" class="form-control" required placeholder="user@example.com" />
                                <span asp-validation-for="Email" class="text-danger validation-text"></span>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" type="tel" class="form-control" placeholder="07XXXXXXXX" />
                                    <span asp-validation-for="Phone" class="text-danger validation-text"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <textarea asp-for="Address" class="form-control text-area" maxlength="256" rows="5" placeholder="Enter your address here" style="height: 85px;"></textarea>
                                <span asp-validation-for="Address" class="text-danger validation-text"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary float-right waves-effect waves-light mr-1" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>