﻿@model IEnumerable<Fujin.WApp.Models.User.UserViewModel>

@await Html.PartialAsync("~/Views/Shared/_DataTableScriptsPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml")

@{
    ViewData["Title"] = "Users";
    ViewData["PageTitle"] = "User Management";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-pink float-right waves-effect waves-light" data-toggle="modal"
                        data-target=".bs-example-modal-center" onclick="LoadModalPopup('@Url.Action("CreateNewUserView", "User")')">
                    <i class="bx bx-user-plus btn-content-valign-middle"></i>
                    <span class="btn-content-valign-middle"> Create User</span>
                </button>
                <table id="datatable-buttons" class="table table-striped table-hover dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <div class="btn-display-flex">
                                        <a data-toggle="tooltip" data-placement="bottom" title="Edit" onclick="LoadModalPopup('@Url.Action("EditUserView", "User", new { userID = item.UserID })')">
                                            <i class="bx bx-edit bx-sm"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-placement="bottom" title="Reset Password" onclick="ShowToastQuestion('warning', 'This action will reset the password. Are you sure?', 'Reset','@Url.Action("ResetPassword", "User", new { userID = item.UserID })')">
                                            <i class="bx bx-key bx-sm"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-placement="bottom" title="Delete" onclick="ShowToastQuestion('error', 'User will be deleted. Are you sure?', 'Delete','@Url.Action("DeleteUserAction", "User", new { userID = item.UserID })')">
                                            <i class="bx bx-trash bx-sm"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="divModalArea">

</div>

<script src="@Url.Content("~/js/user/user-list.js")"></script>