﻿<!-- Required datatable js -->
<script src="@Url.Content("~/assets/libs/datatables.net/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js")"></script>

<!-- Buttons examples -->
<script src="@Url.Content("~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/assets/libs/jszip/jszip.min.js")"></script>
<script src="@Url.Content("~/assets/libs/pdfmake/build/pdfmake.min.js")"></script>
<script src="@Url.Content("~/assets/libs/pdfmake/build/vfs_fonts.js")"></script>
<script src="@Url.Content("~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/assets/libs/datatables.net-buttons/js/buttons.print.min.js")"></script>
<script src="@Url.Content("~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js")"></script>

<!-- Datatable init js -->
<script src="@Url.Content("~/js/datatable-buttons-init.js")"></script>