﻿<script src="@Url.Content("~/js/toast-init.js")" type="text/javascript"></script>

<script>
        $(function () {
            var toastTitle = '@TempData["ToastTitle"]';
            var toastType = '@TempData["ToastType"]';
            var toastMessage = '@TempData["ToastMessage"]';

            if (toastType !== '' && toastMessage !== '') {
                ShowToastMessage(toastType, toastTitle, toastMessage);
            }
        });
</script>
