﻿<script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")"></script>

@*<script src="@Url.Content("~/assets/libs/parsleyjs/parsley.min.js")"></script>*@
