﻿@model Fujin.WApp.Models.Auth.LoginViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<!-- Mirrored from themesbrand.com/skote-mvc/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Aug 2021 13:45:25 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Login | FUJIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Fujin home automation web application" name="description" />
    <meta content="ushi" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/images/FujinAdmin.png")">

    <!-- Bootstrap Css -->
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="@Url.Content("~/assets/css/icons.min.css")" rel="stylesheet" type="text/css" />
    <!-- App Css -->
    <link href="@Url.Content("~/assets/css/app.min.css")" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Toast Notification -->
    <link href="@Url.Content("~/assets/libs/toastr/build/toastr.min.css")" rel="stylesheet" type="text/css">

    <!-- JAVASCRIPT -->
    <script src="@Url.Content("~/assets/libs/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/metismenu/metisMenu.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/simplebar/simplebar.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/node-waves/waves.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/toastr/build/toastr.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/parsleyjs/parsley.min.js")"></script>
    <script src="@Url.Content("~/assets/js/pages/form-validation.init.js")"></script>

    <!-- App js -->
    <script src="@Url.Content("~/assets/js/app.js")"></script>

</head>

<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Welcome Back !</h5>
                                        <p>Sign in to continue to Fujin App.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="@Url.Content("~/assets/images/profile-img.png")" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="avatar-md profile-user-wid mb-4">
                                <span class="avatar-title rounded-circle bg-light">
                                    <img src="@Url.Content("~/images/FujinAdmin.png")" alt="" class="rounded-circle" height="34">
                                </span>
                            </div>
                            <div class="p-2">
                                <form class="form-horizontal needs-validation" asp-controller="Auth" asp-action="LoginAction">

                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input asp-for="Username" type="text" required="" class="form-control" id="username" placeholder="Enter username">
                                        <div class="invalid-feedback">
                                            Please enter the username.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <input asp-for="Password" type="password" required="" class="form-control" id="userpassword" placeholder="Enter password">
                                        <div class="invalid-feedback">
                                            Please enter the password.
                                        </div>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Remember me</label>
                                    </div>

                                    <div class="mt-3">
                                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log In</button>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <a href="auth-recoverpw.html" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot your password?</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">

                        <div>
                            <p>
                                ©
                                <script>document.write(new Date().getFullYear())</script> Fujin App. by USHI
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            var error = '@TempData["Error"]';
            if (error !== "") {
                toastr.error(error, 'Login Failed!')
            }
        });
    </script>

</body>

</html>
